* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

html, 
body, 
#root {
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 0.5rem;
  color: inherit;
  font-weight: bold;
}

.App {
  display: grid;
  grid-template-columns: 18.75rem 1fr 18.75rem;
  grid-template-rows: 4rem 1fr 4rem; 
  min-height: 100vh;  
}

#col-1,
#col-2 {
  background-color: #111111;
}

#col-1 {
  grid-column: 1 / 2;
}

#col-2 {
  grid-column: 3 / 4;
}

@media (max-width: 1200px) {
  .App {
    grid-template-columns: 1fr;
  }

  #col-1,
  #col-2 {
    display: none;
  }

  #navbar,
  #homepage,
  #practice-yourself,
  #play-online,
  #about,
  #create-account,
  #login,
  #user-profile,
  #footer {
    grid-column: 1 / 2;
  }

  #py-wrapper {
    min-width: 20rem;
  }
}