* {
  background-color: #111111;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

html, 
body, 
#root {
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 0.5rem;
  color: inherit;
  font-weight: bold;
}

.App {
  display: grid;
  grid-template-columns: 18.75rem 1fr 18.75rem;
  grid-template-rows: 4rem 1fr 4rem; 
  min-height: 100vh;  
}

@media (max-width: 1200px) {
  .App {
    grid-template-columns: 1fr;
  }

  #navbar,
  #homepage,
  #practice-yourself,
  #create-account,
  #about,
  #footer {
    grid-column: 1 / 2;
  }

  #py-wrapper {
    min-width: 20rem;
  }
}