.py-wrapper {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.typing-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.typing-box {
  background-color: #333333;
  border: 1px solid #3B3B3B;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.typing-box p {
  background-color: inherit;
  font-size: large;
  margin-left: 0.5rem;
}

#practice-yourself {
  display: flex;
  grid-column: 2 / 3;
  justify-content: center;
  padding: 1rem;
}
