@keyframes cursorBlink {
  50% {
    border-left: 1px solid rgba(255, 255, 255, 0);
  }
}

#paragraph p {
  background-color: transparent;
  font-size: large;
  margin-left: 0.5rem;
}

#paragraph span {
  background-color: transparent;
}

.active-word {
  text-decoration: underline;
}

.active-char {
  animation: cursorBlink 1s infinite;
  border-left: 1px solid white;
  margin-left: -1px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}