.user-profile-container,
.danger-zone-container {
  background-color: #333333;
  border: 1px solid #3B3B3B;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 1rem;
  width: 100%;
}

.user-profile-container {
  gap: 0.5rem;
}

.user-profile-container h2 {
  font-size: medium;
}

.user-profile-container hr {
  color: white;
  margin-bottom: 0.2rem;
}

.user-info-input,
.user-password-input {
  display: flex;
  flex-direction: column;
}

.user-info-input input,
.user-password-input input {
  background-color: #222222;
  border: 1px solid #515151;
  color: white;
  text-indent: 0.1rem;
  width: 10rem;
}

.user-stats-container {
  display: grid;
  font-weight: bold;
  grid-template-rows: 2.5rem 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 50rem;
  width: 100%;
}

.user-stats-info {
  align-items: center;
  background-color: #333333;
  border-bottom: 1px solid #3B3B3B;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  grid-column: 1 / 4;
  padding: 0.5rem;
}

.user-stat-container {
  align-items: center;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.user-stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-stat-container:nth-child(2) {
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid #3B3B3B;
}

.user-stat-container:nth-child(4) {
  border-bottom-right-radius: 0.5rem;
  border-left: 1px solid #3B3B3B;
}

.danger-zone-container h1 {
  color: red;
  margin-bottom: 0.5rem;
}

.danger-option {
  background-color: transparent;
  color: #dc143c;
  cursor: pointer;
  margin-right: auto;
  padding: 0.1rem;
  text-decoration: underline;
  width: auto;
}

#user-profile {
  align-items: center;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 2 / 3;
  padding: 1rem;
}

#user-info-submit,
#user-password-submit {
  background-color: #8658ba;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  margin-top: 0.2rem;
  padding: 0.2rem;
}