.gameroom-btn-row {
  display: flex;
  justify-content: space-between;
}

.leave-room {
  background-color: #ffb21c;
  color: white;
  padding: 0.8rem;
}

.leave-room:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.restart-ready {
  background-color: #3cc1a3;
  padding: 0.8rem;
}

.restart-ready:hover {
  background-color: #40a82b;
  cursor: pointer;
}

.restart-waiting {
  background-color: #696969;
  padding: 0.8rem;
}