@keyframes cursorBlink {
  50% {
    border-left: 1px solid rgba(255, 255, 255, 0);
  }
}

.active-word {
  text-decoration: underline;
}

.active-char {
  animation: cursorBlink 1s infinite;
  border-left: 1px solid white;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

#typing-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#game-status-info,
#game-progress {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

#progress,
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar
 {
  border-radius: 0.5rem;
  max-height: 1rem;
  width: 90%;
}

#typing-box {
  background-color: #333333;
  border: 1px solid #3B3B3B;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

#typing-box p {
  background-color: inherit;
  font-size: large;
  margin-left: 0.5rem;
}

#typing-box span {
  background-color: transparent;
}

#typing-input {
  border: 1px solid #3B3B3B;
  color: white;
  font-size: large;
  height: 2rem;
  text-indent: 0.5rem;
}