.game-progress {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.game-progress p {
  margin-left: 1rem;
}

#progress-bar,
#progress-bar::-webkit-progress-bar,
#progress-bar::-webkit-progress-value,
#progress-bar::-moz-progress-bar
 {
  border-radius: 0.5rem;
  flex: 1;
  max-height: 1rem;
}