#practice-yourself-button-row {
  display: flex;
  justify-content: space-between;
  
}

#leave-practice {
  background-color: #ffb21c;
  padding: 0.8rem;
}

#leave-practice:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

#new-race {
  background-color: #3cc1a3;
  padding: 0.8rem;
}

#new-race:hover {
  background-color: #40a82b;
  cursor: pointer;
}