#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  box-shadow: 0 0 5px 0 #333;
  color: #986acb;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  position: fixed;
  transform: translateX(110%);
  transition: transform 0.1s ease 0s;
  width: 18.75rem;
  z-index: 1;
}

#sidebar.is-active {
  transform: translateX(0);
}